@using MusicApp.Controllers;
@using MusicApp.Data;
@model Song

@{
    ViewBag.Title = "Add Song"; 
}
<form asp-controller="Home" asp-action="Create" method="post">
    
    <label asp-for=SongTitle>Enter Song Title</label>
    <input asp-for=SongTitle />

    <label asp-for=ReleaseDate>Choose Release Date</label>
    <input asp-for=ReleaseDate />
    <label asp-for=TrackLength>Enter track length</label>
    <input asp-for=TrackLength />
    <input asp-for=AlbumID />
    <input asp-for=ArtistID />
    <input asp-for=GenreID />


    <div>
        <button type="submit">Create</button>
    </div>
    
</form>
