@using MusicApp.Data.ViewModels;
@model IEnumerable<GenrePopularityVm>;

@{
    ViewBag.Title = "GenrePopularity"; 
}
<div>
        @foreach (var GenrePopularity in Model)
        {           
                
                <div>
                    <h3>Genre:@GenrePopularity.GenreType </h3>                    
                    <h3>No of Songs:@GenrePopularity.GenreCount</h3>
                    <h3>Rank:@GenrePopularity.Rank</h3>
                </div>
               
        }
        </div>