@using MusicApp.Data.ViewModels;
@model IEnumerable<GenrePopularityVm>;

@{
    ViewBag.Title = "RankSongCount"; 
}
<div>
        @foreach (var RankSongCountVm in Model)
        {           
                
                <div>
                    <h3>Genre:@RankSongCountVm.GenreType </h3>                    
                    <h3>No of Songs:@RankSongCountVm.GenreCount</h3>
                    <h3>Rank:@RankSongCountVm.Rank</h3>
                </div>
               
        }
        </div>